BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveDeclarations: true
SortIncludes: false
IncludeBlocks: Preserve
SpacesInParentheses: false
SpaceAfterCStyleCast: true
PointerAlignment: Left
