[submodule "src/ArcWelderLib"]
	path = src/ArcWelderLib
	url = https://github.com/FormerLurker/ArcWelderLib.git
[submodule "profiles"]
	path = resources/profiles
	url = https://github.com/CR-3D/SliCR-3D-profiles
[submodule "pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11
